[submodule "externals/protojs"]
	path = externals/protojs
	url = git://github.com/sirikata/protojs.git
[submodule "externals/GLGE"]
	path = externals/GLGE
	url = git://github.com/supereggbert/GLGE.git
[submodule "externals/web-socket-js"]
	path = externals/web-socket-js
	url = git://github.com/gimite/web-socket-js.git
[submodule "externals/o3d-webgl"]
	path = externals/o3d-webgl
	url = git://github.com/sirikata/o3d-webgl.git
[submodule "externals/o3djs"]
	path = externals/o3djs
	url = git://github.com/sirikata/o3djs.git
[submodule "externals/sirikata-protocol"]
	path = externals/sirikata-protocol
	url = git://github.com/sirikata/sirikata-protocol.git
